@model FabrikamFiber.DAL.Models.ServiceTicket

@{
    ViewBag.Title = "Create";
}

<h1>Create</h1>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>ServiceTicket</legend>

		@Html.Partial("_CreateOrEdit", Model)

        <p>
            <input type="submit" value="Create" class="glossyBox"/>
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


