@{
    ViewBag.Title = "Index";
}

<h2>Reports</h2>
<div style="width:1050px">
    <iframe src="@Url.Action("Employees")" style="border:1px solid #000; width:500px;padding-left:5px;height:500px"></iframe>
    <iframe src="@Url.Action("Tickets")" style="border:1px solid #000; width:500px;padding-left:5px;height:500px"></iframe>
</div>