@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Tickets Report</title>
    <meta charset="utf-8" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <div>
        <h2>Tickets Report</h2>  
    </div>
</body>
</html>
