
/* ******* SITEWIDE SETTINGS ****** */

body	{font-family: 'SegoeWPRegular', Arial, sans-serif; font-size: 13px; color: #515151; background: #e0e0e0 url(../images/bg_tile.png)}

h1, h2, h3, h4, h5, h6, legend {font-family: 'SegoeWPLight'}

h1 {font-size: 24px;}	
h2 {font-size: 18px;}
h3 {font-size: 16px;}
h4 {font-size: 14px;}
h5 {font-size: 12px;}
h6 {font-size: 10px;}

legend   {font-size: 18px; } 
  
#content h2 {margin: 1em 0}
#content p  {margin: 1.5em 0; line-height: 140%}

.field-validation-error, .input-validation-error, .validation-summary-errors    {color: #b62f11} 
    
/* ******* NAV BAR ****** */

nav a:visited	{color: #5d5d5d; }
nav a:hover		{color: #ff2e00; }
nav	a {font-family: 'SegoeWPRegular', Arial, sans-serif; font-size: 16px; text-shadow: 1px 1px 1px #fff; color: #5d5d5d}

nav a.active	{color: #b62f11; }

/* ******* MISC ****** */

.dataTable	{width: 100%}

.map    {margin: 3px 0}

/* ******* HILITE ******* */

::-moz-selection{background: #000; color: #fff;}
::selection {background: #000; color: #fff; }


/* ******* ORANGE BUTTON ****** */

.glossyBox {padding: 10px 15px; border: 1px solid #b44c08; color: white;  border-radius: 2px; font-size: 16px; font-weight: bold;
    
    background: #f07d14; /* Old browsers */
    background: -moz-linear-gradient(top, #f07d14 0%, #df5a0d 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f07d14), color-stop(100%,#df5a0d)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f07d14 0%,#df5a0d 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f07d14 0%,#df5a0d 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f07d14 0%,#df5a0d 100%); /* IE10+ */
    background: linear-gradient(top, #f07d14 0%,#df5a0d 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f07d14', endColorstr='#df5a0d',GradientType=0 ); /* IE6-9 */
    
    -webkit-border-radius: 2px;
    -ie-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;

   -moz-box-shadow:		inset 0 0 2px #e77f42;
   -ie-box-shadow: 		inset 0 0 2px #e77f42;
   -webkit-box-shadow:	inset 0 0 2px #e77f42;
   box-shadow:			inset 0 0 2px #e77f42;
}

.glossyBox:visited	{color: white; } 
.glossyBox:hover	{color: white; border-color: #582300} 
.glossyBox:active	{color: white; border-color: white} 

aside.glossyBox	{font-weight: normal; font-size: 12px}
aside.glossyBox ul 	{margin: 0; padding: 0; list-style: none}




/* ******* FORMS ****** */


.display-label, 
.editor-label {
    margin: 1em 0 0 0;
    font-weight: bold;
}

.display-field, 
.editor-field {
    margin: 0.5em 0 0 0;
}

.text-box {
    width: 30em;
}

.text-box.multi-line {
    height: 6.5em;
}

.tri-state {
    width: 6em;
}
