<h1>Profile</h1>
<div class="profileImage" style="background-image: url('@Url.Content("~/Content/images/userphoto_kensanchez.jpg")')">	</div>
<h2>Drew Robbins</h2>

<ul class="alerts">
    <li><a href=""><span>Alerts:</span> 5</a></li>
    <li><a href=""><span>Tickets:</span> 3</a></li>
</ul>
                
<ul class="admin">
    <li class="tickets"><a href="">My tickets</a></li>
    <li class="profile"><a href="">My profile</a></li>
    <li class="schedule"><a href="">Schedule</a></li>
</ul>
